.card {
    flex: 1;
    min-height: 185px;
    min-width: 265px;
    background-image: url('https://ik.imagekit.io/faskf16pg/sub_category/rpg_pTSAiihUU.png?ik-sdk-version=javascript-1.4.3&updatedAt=16');
    background-size: cover;
    object-fit: fill;

    // background-color: red;


    .textCard {
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: 10px;
        gap: 50px;


        span {
            font-size: 30px;
        }

        .button {
            font-size: 20px;
            color: gray;
            border-radius: 20px;
            padding: 5px;
            border: 0.5px solid gray;
            width: max-content;
            cursor: pointer;
        }
    }
}